
body{
	background-color: lavenderblush;



}
h1{
 	text-align: center;
	font-family: Calibri;
	color: #DDA0DD;
	border: 1px solid black;
} 
p { 

background-color: lightpink;
font-family: Helvetica;
margin: 0 auto;
width: 50%;
    border: 2px solid black;
border-radius:2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 26px;

 }
