@import url('https://fonts.googleapis.com/css?family=Alex Brush');
@import url('https://fonts.googleapis.com/css?family=Shadows Into Light Two');
body{
	background-color: #454545;



}
h1{
 	text-align: center;
	font-family: Alex Brush;
	font-size: 52px;
	color: Salmon;
	border: 1px solid black;
} 
p { 

background-color: #696969;
font-family: Shadows Into Light Two;
font-size: 500px;
margin: 0 auto;
width: 50%;
    border: 2px solid black;
border-radius:2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 26px;

 }
